* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font-size: 30px;
  color: black;
  background-color: white;
  text-shadow: 0px 0px 10px white;
}

table {
  border-collapse: collapse;
  border: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

td {
  font-size: 1em;
  text-align: right;
  vertical-align: middle;
}

tr:first-child {
  font-size: 3em;
}

td:first-child {
  text-align: left;
}

tr:first-child td:first-child {
  text-align: center;
}
